$primary-color: #409eff;
$primary-disabled-color: #a0cfff;
$success-color: #67c23a;
$success-disabled-color: #b3e19d;
$info-color: #909399;
$info-disabled-color: #c8c9cc;
$warning-color: #e6a23c;
$warning-disabled-color: #f3d19e;
$danger-color: #f56c6c;
$danger-disabled-color: #fab6b6;
$linear-gradient-bg: linear-gradient(135deg, rgba(15,21,80,1) 10%, rgba(20,15,40,1) 50%, rgba(50,30,71,1) 90%);
$doc-btn-border: 1px solid rgba(255,255,255, 0.2);
$doc-btn-color: rgba(255,255,255, 0.8);
$doc-font-color: rgb(54, 54, 54);