$primary-color: #409eff;
$primary-disabled-color: #a0cfff;
$success-color: #67c23a;
$success-disabled-color: #b3e19d;
$info-color: #909399;
$info-disabled-color: #c8c9cc;
$warning-color: #e6a23c;
$warning-disabled-color: #f3d19e;
$danger-color: #f56c6c;
$danger-disabled-color: #fab6b6;